<main role="main" class="container">
  {{#if errors}}
    <div class="alert alert-danger">
      {{error}}
    </div>
  {{/if}}
  <div class="starter-template">
    <ul class="list-group m-4">
        {{#each users}}
        <li class="list-group-item">
            {{email}} 
        </li>
        {{/each}}
    </ul>
    <p>
      <a href="/logout">Cierra sesión</a>
    </p>
  </div>
</main>
